node_modules
.vscode
.sass-cache
.DS_Store
.gitattributes
Thumbs.db
error_log
._*
*.bak
*.ini
*.log
*.map
*.orig
*~
*.3gp
*.3gpp
*.asf
*.asx
*.avi
*.bin
*.deb
*.dll
*.dmg
*.exe
*.flv
*.gz
*.hqx
*.img
*.iso
*.kar
*.m4a
*.m4v
*.mid
*.midi
*.mng
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msm
*.msp
*.ogg
*.ra
*.tar
*.webm
*.wmv
*.zip
